In [1]:
import numpy as np

In [6]:
arr1=np.array([1,2,5,7])
arr2=np.array([10,3,4,6])
print("Multiplicated Array : ",np.multiply(arr1,arr2))

Multiplicated Array :  [10  6 20 42]

In [7]:
arr1=np.array([1,2,10,5,7,np.nan])
print("Missing Array : ",np.isnan(arr1))

Missing Array :  [False False False False False  True]

In [9]:
arr1=np.array([1,2,5,7])
arr2=np.array([10,3,4,6,2])
print("Same Elements in Both Arrays : ",np.isin(arr2,arr1))

Same Elements in Both Arrays :  [False False False False  True]

In [10]:
arr2=np.array([10,3,4,6,2])
np.savetxt("save.txt",arr2)

In [13]:
print("The Array is \n" , np.linspace(2.5,6.5,30))

The Array is
 [2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

In [14]:
import pandas as pd

In [16]:
s = pd.Series([[2, 4, 6, 8], 
               [1, 3, 5, 7]]) 
print("Before : ",s)  
s = s.apply(pd.Series).stack().reset_index(drop = True) 
print("\nAfter converting : ",s)

Before :  0    [2, 4, 6, 8]
1    [1, 3, 5, 7]
dtype: object

After converting :  0    2
1    4
2    6
3    8
4    1
5    3
6    5
7    7
dtype: int64

In [18]:
a=([105,240,255,320,480])
a=pd.Series(a)
print(a)
subset=a[a>=300]
subset2=a[a<=200]
print(subset)
print(subset2)

0    105
1    240
2    255
3    320
4    480
dtype: int64
3    320
4    480
dtype: int64
0    105
dtype: int64

In [19]:
a=([1,3,1,2,3,3,3,4,4])
a=pd.Series(a)
a.value_counts()
a[~a.isin(a.value_counts(). index[   :1])]='other'
print("After : ",a)

After :  0    other
1        3
2    other
3    other
4        3
5        3
6        3
7    other
8    other
dtype: object

In [22]:
s=[1,2,46,5,10,15,18,36,100,250]
s=pd.Series(s)
subset=s[s%5==0]
print(subset)

3      5
4     10
5     15
8    100
9    250
dtype: int64

In [27]:
s=['lohith','reddy','meka']
s=pd.Series(s)
subset=s.apply(lambda i : len(i))
print(subset)

0    6
1    5
2    4
dtype: int64

In [30]:
a={'year_month':['2013-09','2003-01','2023-12']}
a=pd.DataFrame(a)
date=30
a['Date']=pd.to_datetime(a['year_month'] + '-' + str(date), format='%Y-%m-%d')
print(a)

  year_month       Date
0    2013-09 2013-09-30
1    2003-01 2003-01-30
2    2023-12 2023-12-30

In [34]:
a={'Name':['lohith','sai'],
  'Age':[25,30],
  'College':['srm','vit']}
ilabels = ['Person1', 'Person2']
df11 = pd.DataFrame(a, index=ilabels)
print(df11)

           Name  Age College
Person1  lohith   25     srm
Person2     sai   30     vit

In [37]:
s={'Name':['lohith','kumar','arun','sai'],
  'Attempt':[2,3,4,1]}
s=pd.DataFrame(s)
print(s[s['Attempt']>=2])

     Name  Attempt
0  lohith        2
1   kumar        3
2    arun        4

In [40]:
a={    'Name':['lohith.m','venkat','Arun'],
    'section':['o','e','c']}
index_labels = ['Student1', 'Student2','Student3']
a=pd.DataFrame(a,index=index_labels)
b = {  "Name": ['ameen','lohith.b'],
  "section": ['f', 'j']}
c=pd.DataFrame(b,index=['Student4','Student5'])
a=a.append(c)
print(a)
a=a.drop('Student4')
a.drop('Student5')
print(a)

              Name section
Student1  lohith.m       o
Student2    venkat       e
Student3      Arun       c
Student4     ameen       f
Student5  lohith.b       j
              Name section
Student1  lohith.m       o
Student2    venkat       e
Student3      Arun       c
Student5  lohith.b       j

In [45]:
s={    'name':['lohith','reddy','arun'],
    'score': [25,22,24]}
s=pd.DataFrame(s)
b = s.sort_values(by='score',ascending=True)
print(b)
c=s.sort_values(by='name',ascending=False)
print(c)

     name  score
1   reddy     22
2    arun     24
0  lohith     25
     name  score
1   reddy     22
0  lohith     25
2    arun     24

In [49]:
a={
    'candidate':['lohith','arun','venkatesh'],
    'qualify':['Yes','No','Yes']
}
a=pd.DataFrame(a)
a=a.replace('Yes',True)
print(a)
a=a.replace('No',False)
print(a)

   candidate qualify
0     lohith    True
1       arun      No
2  venkatesh    True
   candidate  qualify
0     lohith     True
1       arun    False
2  venkatesh     True

In [53]:
s = {'C1': [1, 2, 3, np.inf, 5],
        'C2': [np.inf, 2, 3, 4, 5],
        'C3': [1, 2, 3, 4, 5]}
s = pd.DataFrame(s)
s.replace([np.inf, -np.inf], np.nan, inplace=True)
s.dropna(inplace=True)
print("DataFrame after removing infinite values:")
print(s)

DataFrame after removing infinite values:
    C1   C2  C3
1  2.0  2.0   2
2  3.0  3.0   3
4  5.0  5.0   5